* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
nav {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.menu {
  display: flex;
  gap: 30px;
}
.menu ul li {
  list-style: none;
  font-size: 16px;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
}
.btn button {
  background-color: #30b868;
  border: none;
  padding: 12px 16px;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/hero-bg.png");

  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 115px 0 179px 0;
}
